body {
  background-image: url('img/checkerboard-small.png');
  color: #f2f2f2;
  font-family: 'Times New Roman', sans-serif;
  background-blend-mode: multiply;
}
.title {
  text-shadow: 0 1px 0 rgb(242,242,242), 0.5px 2px 0 rgb(232,232,232),
  1px 3px 0 rgb(222,222,222), 1.5px 4px 0 rgb(212,212,212),
  2px 5px 0 rgb(202,202,202), 2.5px 6px 0 rgb(192,192,192),
  3px 7px 0 rgb(182,182,182), 3.5px 8px 0 rgb(172,172,172),
  4px 9px 0 rgb(162,162,162), 4.5px 10px 0 rgb(152,152,152),
  5px 11px 0 rgb(142,142,142), 5.5px 12px 0 rgb(132,132,132),
  0 20px 30px rgba(0, 0, 0, 0.5);
  font-size: 64px;
}
.title-invert {
  color: rgb(0,1,0);
  text-shadow: 0 1px 0 rgb(13,13,13), 0.5px 2px 0 rgb(23,23,23),
  1px 3px 0 rgb(33,33,33), 1.5px 4px 0 rgb(43,43,43),
  2px 5px 0 rgb(53,53,53), 2.5px 6px 0 rgb(63,63,63),
  3px 7px 0 rgb(73,73,73), 3.5px 8px 0 rgb(83,83,83),
  4px 9px 0 rgb(93,93,93), 4.5px 10px 0 rgb(103,103,103),
  5px 11px 0 rgb(113,113,113), 5.5px 12px 0 rgb(123,123,123),
  0 20px 30px rgba(255, 255, 255, 0.5);
  font-size: 64px;
}
.text-container {
  justify-content: left;
  justify-self: center;
  background-color: #404040;
  border: #000100 solid 2px;
  border-radius: 10px;
  padding: 10px;
  height: 100%;
  width: 90%;
}
.nav-button {
  background-color: #303030;
  font-size: 500%;
  font-family: 'Times New Roman', sans-serif;
  color: #f2f2f2;
  border: #000100 solid 2px;
  border-radius: 10px;
  padding: 10px;
  height: 200px;
  transition: 0.6s;
}
.nav-button:hover {
  background-color: #404040;
  color: #f2f2f2;
  border-radius: 20px;
  padding: 10px;
  height: 150px;
  font-size: 600%;
  font-weight: bold;
}