body {
    background-image: url('../img/checkerboard-small.png');
    color: #f2f2f2;
    font-family: 'Times New Roman', sans-serif;
    background-blend-mode: multiply;
}
.title {
  text-shadow: 0 1px 0 rgb(242,242,242), 0.5px 2px 0 rgb(232,232,232),
  1px 3px 0 rgb(222,222,222), 1.5px 4px 0 rgb(212,212,212),
  2px 5px 0 rgb(202,202,202), 2.5px 6px 0 rgb(192,192,192),
  3px 7px 0 rgb(182,182,182), 3.5px 8px 0 rgb(172,172,172),
  4px 9px 0 rgb(162,162,162), 4.5px 10px 0 rgb(152,152,152),
  5px 11px 0 rgb(142,142,142), 5.5px 12px 0 rgb(132,132,132),
  0 20px 30px rgba(0, 0, 0, 0.5);
  font-size: 64px;
}
.clicker {
  height: 100px;
  width: 200px;
  font-size: 50px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.clapper {
  font-size:50px;
  display: flex;
  justify-content: center;
}
#tooltip {
  position: absolute;
  background-color: #ffffff;
  color: #000000;
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none;
  white-space: nowrap;
  display: none;
  z-index: 1000;
  font-size: 14px;
}